.main{
   
    .allcard{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 1280px;
  margin: 0 auto;
  padding: 1000px 0px 0px 0px;
  
  button{
    position: relative;
bottom: 10px;
left: 570px;
    padding: 10px 20px;
    border: none;
    background-color: #FF6600;
    color: white;
    &:hover{
        background-color: #ff8738;
    }
}
        a{

            text-decoration: none;
            color: black;
        }
        .card{
            margin: 50px 0px;
            width: 356px;
            height: 410px;
            .cardImg{
                // margin-bottom: 20px;
                width: 356px;
                height: 245px;
                img{
                    margin-bottom: 20px;
                width: 356px;
                height: 245px;
                }
            }
            .cardText{
                width: 356px;
                height: 111px;
                text-replace: 0.6s;
                &:hover{
                    border-bottom: 2px solid #FF6600;
                }
                h1{
                    font-size: 20px;
                }
                h4{
                    opacity: 0.6;
                }
            }
        }
    }
}